<%= form_for @user, html: {class: 'hidden_form new_user'} do |f| %>
  <div class="gamertag">
    <%= f.label "Gamertag: " %><br>
    <%= f.text_field :gamertag %>
  </div>
  <div class="timezone">
    <%= f.label "Timezone: " %><br>
    <%= f.time_zone_select :timezone, TZInfo::Timezone.all.sort, :model => TZInfo::Timezone %>
  </div>
  <%= f.submit "Add user" %>
<% end %>